<main class="app-main">
  <br>
  <div class="app-content">
      <div class="container-fluid">
      <div class="row">
          <div class="col-12">
          <div class="card">
              <div class="card-header">
                  <h3 class="card-title">Ver Expediente #{{id}}</h3>
              </div>
              <form class="needs-validation">
                  <div class="card-body">
                      <div class="mb-3">
                        <label for="fecha" class="form-label">Fecha</label>
                        <div class="input-group">
                          <input type="text"
                                  disabled
                                  class="form-control"
                                  id="infante"
                                  value="{{expediente!.fecha | date: 'dd/MM/yyyy'}}"
                                  placeholder="Fecha"/>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="infante" class="form-label">Infante</label>
                        <div class="input-group">
                          <input type="text"
                                  disabled
                                  class="form-control"
                                  id="infante"
                                  value="{{expediente.infante.nombres}} {{expediente.infante.apellido_paterno}}"
                                  placeholder="Nombre del Infante"/>
                        </div>
                      </div>

                      <div class="mb-3">
                        <label for="fecha" class="form-label">Estado</label>
                        <div class="input-group">
                          <span class="badge bg-success">{{expediente!.estado}}</span>
                        </div>
                      </div>

                      <hr>

                      <h6>Familia</h6>

                      <br>

                      <table class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Familia</th>
                            <th>Parentesco</th>
                          </tr>
                        </thead>
                        <tbody>
                          @for (detalle of expediente!.detalles; let idx = $index; track $index) {
                            <tr>
                                <td>{{idx+1}}</td>
                                <td>{{detalle.persona.nombres}}</td>
                                <td></td>
                            </tr>
                          }
                          @if (expediente!.detalles.length == 0) {
                            <tr>
                              <td colspan="5">No hay detalles 3.</td>
                            </tr>
                          }
                        </tbody>
                      </table>

                  </div>
                  <div class="card-footer">
                      <button type="button" class="btn btn-danger mx-1" [routerLink]="'/expedientes'">Regresar</button>
                  </div>
              </form>
          </div>
          </div>
      </div>
      </div>
  </div>
</main>
